@model seance2.Views.ViewModels.CustomerMovieVM


	<h1>List of movie and customer</h1>

	<h2>@Model.movie.name</h2>

@foreach (var item in Model.customers)
{
	<h2>
		@Html.ActionLink(@item.Name,"Show","Customer",new {Id=item.Id})
		
	</h2>

			

}
